.section_button{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    &-button{
        background-color: red;
        padding: 10px 30px 10px 30px;
        border: 1px solid black;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bold;
    }

}

